<ion-header no-border>
  <ion-toolbar>
    <ion-title>Essentials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row text-center>
      <ion-col size="6">
        <ion-img src="https://bandungumroh.com/sie/assets/no_image.png"></ion-img>
          Currency
      </ion-col>
      <ion-col size="6">
          <ion-img src="https://bandungumroh.com/sie/assets/no_image.png"></ion-img>
         Handy Tips
      </ion-col>
      <ion-col size="6">
          <ion-img src="https://bandungumroh.com/sie/assets/no_image.png"></ion-img>
          Wifi.id
       </ion-col>
       <ion-col size="6">
          <ion-img src="https://bandungumroh.com/sie/assets/no_image.png"></ion-img>
          Money Changers
       </ion-col>
       <ion-col size="6">
          <ion-img src="https://bandungumroh.com/sie/assets/no_image.png"></ion-img>
          Useful Contacts
       </ion-col>
       <ion-col size="6">
          <ion-img src="https://bandungumroh.com/sie/assets/no_image.png"></ion-img>
          About
       </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
