<ion-header no-border>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item lines="none">
        <ion-avatar height="120" width="120">
            <img class="avatar" src="https://bandungumroh.com/sie/assets/no_image.png"/>
        </ion-avatar>
      <h3>Admin</h3>
    </ion-item>

    <ion-item>
      <h1>Hobby</h1>
    </ion-item>
    <ion-item>
        <h1>Admin@gmail.com</h1>
      </ion-item>
  </ion-list>

  <ion-button margin size="large" expand="block" >
    <ion-buttons>Logout</ion-buttons>
  </ion-button>
</ion-content>
