<ion-header no-border>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="ion-text-center ion-margin">
        <ion-item lines="none" class="text-center">
            <ion-title>Let's get Lost, ULaLaaaaa</ion-title>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="danger">Username</ion-label>
          <ion-input required type="text" [(ngModel)]="credentials.username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked" color="danger">Password</ion-label>
          <ion-input required type="password" [(ngModel)]="credentials.password"></ion-input>
        </ion-item>
        <br>
        <ion-button class="ion-margin" color="danger" size="large" expand="block" (click)="login()">Login</ion-button>
        <ion-button class="ion-margin" color="primary" size="large" expand="block" (click)="loginGoogle()">
            <ion-icon name="logo-google" class="ion-no-padding"></ion-icon>
            Login with Google
          </ion-button>

          <ion-text class="margin" (click)="gotoSignUp()">Doesn't have an account yet? <ion-text color="danger">Create one</ion-text></ion-text>
          <br>
          <ion-text class="margin" color="danger" (click)="forgotPass()">Forgot Password?</ion-text>

      </ion-list>
</ion-content>
